#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession
#

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

setxkbmap -model pc105 -layout us,ru -option grp:alt_shift_toggle

# ryuuko colorscheme
# for easy use in scripts
export black="2d2b33"
export lightblack="363740"
export darkgray="75747a"
export red="BF687F"
export green="9BB38F"
export yellow="e5c196"
export blue="8294b4"
export orange="E68A8B"
export cyan="95B9BF"
export white="f2f3f2"

# lemonbar height
export barheight=33
